.navbar {
    width: 1300px;
    height: 60px;
    background-color: palevioletred;
    overflow: hidden;
    padding:0px;
    border:0px;
    margin: 0px;
    font-family: Roboto;
    color:black;
}

.navleft {
    float:left;
    margin-top: 25px;
}

.navright {
    float:right;
    margin-top: 25px;
}

.content {
    width: 1300px;
    height: 1000px;
    padding:0px;
    border:0px;
    margin: 0px;
}

.mainbar {
    width: 900px;
    height: 1000px;
    padding:0px;
    border:0px;
    float:left;
    margin: 0px;
}

.sidebar {
    width: 200px;
    height: 1436px;
    background-color: plum;
    float: right;
    margin: 0px;
}

.upper {
    width: 1000px;
    height: 400px;
    background-color: pink;
    padding:0px;
    border:0px;
    margin: 0px;
}


.lower {
    width: 1200px;
    height: 1000px;
    background-color: palevioletred;
    padding:0px;
    border:0px;
    margin: 0px;
}


img {
    width: 200px;
    height: 200px;
    margin: 20px;
}

body {
    margin: 0px;
    height: 1300px;
    width: 1300px;
    background-color: pink;
}

